[submodule "other/DeepLSD"]
	path = other/DeepLSD
	url = https://github.com/cvg/DeepLSD
[submodule "other/homography_est"]
	path = other/homography_est
	url = https://github.com/rpautrat/homography_est
[submodule "other/dad"]
	path = other/dad
	url = https://github.com/Parskatt/dad
[submodule "other/DeDoDe"]
	path = other/DeDoDe
	url = https://github.com/Parskatt/DeDoDe
[submodule "other/wireframe-detector"]
	path = other/wireframe-detector
	url = https://github.com/francois141/wireframe_distillation
[submodule "other/points_lsd"]
	path = other/points_lsd
	url = https://github.com/francois141/points_lsd
[submodule "other/faster_pytlsd"]
	path = other/faster_pytlsd
	url = https://github.com/francois141/faster_pytlsd
[submodule "other/PLNet"]
	path = other/PLNet
	url = https://github.com/sair-lab/PLNet
[submodule "third_party/TP-LSD"]
	path = third_party/TP-LSD
	url = https://github.com/Siyuada7/TP-LSD
