[submodule "other/DeepLSD"]
	path = other/DeepLSD
	url = https://github.com/cvg/DeepLSD
[submodule "other/homography_est"]
	path = other/homography_est
	url = https://github.com/rpautrat/homography_est
[submodule "other/dad"]
	path = other/dad
	url = https://github.com/Parskatt/dad
[submodule "other/DeDoDe"]
	path = other/DeDoDe
	url = https://github.com/Parskatt/DeDoDe
[submodule "other/wireframe-detector"]
	path = other/wireframe-detector
	url = https://github.com/francois141/wireframe_distillation
