.venv
/build/
*.egg-info
*.pyc
/.idea/
/venv/
/data/
/outputs/
__pycache__
# Ignore image files
*.jpg
*.png
*.hdf5
image_list100.txt
/myenv/

checkpoints
slurm*
/jpl_scripts/eval/
eval/

/dataset/revisitop1m/
*.out
